<ng-container>
  <nz-tag
    *ngFor="let tag of tags"
    nzMode="closeable"
    [nzColor]="tag.color"
    (nzAfterClose)="tagClosedHandle(tag)"
  >{{tag.label}}
  </nz-tag>

  <input
    #inputElement
    nz-input
    *ngIf="inputVisible"
    [(ngModel)]="inputValue"
    (blur)="handleInputConfirm()"
    (keydown.enter)="handleInputConfirm()"
    [ngModelOptions]="{standalone: true}"
    nzSize="small"
    type="text"
    style="width: 80px;"
  />

  <nz-tag
    class="editable-tag"
    *ngIf="!inputVisible && tags.length < tagLimit"
    nzNoAnimation
    (click)="showInput()">新建+
  </nz-tag>

</ng-container>
