<div class="code-detail-header">
  <div class="mini-width-limit">
    <span class="code-info title">孔夫子的妾 / 防抖与节流</span><br>
    <span class="code-info lang">语言：<a>javascript</a></span>
    <span class="code-info category">分类：<a>web开发</a></span><br>
    <span class="code-info update">最后更新：2019-9-24 17:17</span>
  </div>
</div>


<div class="code-text">
  <div class="mini-width-limit">
    <div class="title">gistfile1.txt</div>

    <pre>
    <code>
      export class Hehe {{'{'}}
          public slogan: string = '每天都要甲油鸭';
      {{'}'}}
    </code>
  </pre>
  </div>

</div>
