.code-detail-header {
  border-bottom: 1px solid #dce3e8;
  padding: 20px 0;
  background-color: #fbfbfb;
}

.info-item {
  margin: 15px 30px 15px 0;
}

.title {
  margin: 15px 0 10px;
  font-size: 18px;
}

