<app-nav-back></app-nav-back>

<div class="mini-width-limit" *ngIf="resData">
  <div class="code" style="padding-top: 10px">
    <nz-divider nzOrientation="right" nzText="{{resData.publisher}} / {{resData.title}}"></nz-divider>
    <div class="info">
      <p>简介：{{resData.summary}}</p>
      <p>标签：
        <app-colorful-tags [model]="resData.tags"></app-colorful-tags>
      </p>
      <p>
        <span class="info-item">语言：{{resData.lang}}</span>
        <span class="info-item">分类：{{resData.category}}</span>
      </p>
      <p>最后更新：{{resData.lastModify | date: 'yyyy/MM/dd HH: mm: ss'}}</p>
    </div>

    <app-highlight [code]="resData.codeText"></app-highlight>
  </div>

  <app-comments [data]="resData.comments"></app-comments>
</div>


