<div class="width-limit"
     nz-row
     nzType="flex"
     nzJustify="space-between"
     nzAlign="middle"
     style="margin-top: 25px;margin-bottom: 15px;">

  <div class="search-input">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        nz-input
        [(ngModel)]="queryParams.keyWords"
        (keydown.enter)="rs.refresh({type: queryParams.type, keyWords: queryParams.keyWords})"
        placeholder="请输入你要搜索的关键词..."
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button
        nz-button
        nzType="primary"
        nzSearch nzSize="large"
        (click)="rs.refresh({type: queryParams.type, keyWords: queryParams.keyWords})"
      ><i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>

  <span class="operations" nz-col>
    <a class="operation-link" routerLink="/code/add">代码笔记</a>
    <a class="operation-link" routerLink="/file/add">共享文件上传</a>
    <a class="operation-link" routerLink="/login">登录</a>
  </span>
</div>

<div class="search-result-nav">
  <div class="width-limit">
    <span class="search-result-nav-item"
          *ngFor="let type of ResultType"
          [ngClass]="{'active': queryParams.type === type.symbol}"
          (click)="rs.refresh({type: type.symbol, keyWords: queryParams.keyWords})">
      {{type.label}}
    </span>
  </div>
</div>

<app-search-result></app-search-result>

