<div class="width-limit"
     nz-row
     nzType="flex"
     nzJustify="space-between"
     nzAlign="middle"
     style="margin-top: 25px;margin-bottom: 15px;">

  <div class="search-input" nz-col>
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        nz-input
        [(ngModel)]="queryParams.keyWords"
        (keydown.enter)="search()"
        placeholder="请输入你要搜索的关键词..."
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch nzSize="large" (click)="search()">
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>

  <span class="operations" nz-col>
    <a class="operation-link" routerLink="/code/add">代码笔记</a>
    <a class="operation-link" routerLink="/file/add">共享文件上传</a>
    <a class="operation-link" routerLink="/login">登录</a>
  </span>
</div>


<div class="search-result-nav">
  <div class="width-limit">
    <span class="search-result-nav-item"
          *ngFor="let type of ResultType"
          [ngClass]="{'active': queryParams.type === type.symbol}"
          (click)="search({type: type.symbol})">
      {{type.label}}
    </span>
  </div>
</div>

<div class="width-limit search-result">
  <div class="result-summary">为您找到相关结果约 {{resultCount}} 个</div>
  <ng-container *ngFor="let item of searchResults">
    <app-result-item [data]="item"></app-result-item>
  </ng-container>
</div>

