<div class="page-container">
  <app-header></app-header>

  <div class="search-wrap">
    <ng-container>
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="userInput" nz-input placeholder="请输入你要搜索的关键词..." />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch nzSize="large" (click)="search()">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </ng-container>

    <div class="search-tag-wrap">
      <ng-container *ngFor="let tag of tags">
        <span class="tag" [ngClass]="{'tag-popular': tag.popular}">{{tag.text}}</span>
      </ng-container>
    </div>


    <div class="contribution-rank">
      <span class="caption">贡献度排名</span>
      <span class="users">
      <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      <nz-avatar nzText="张三"></nz-avatar>
    </span>

    </div>
  </div>
</div>


