.title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}


form {
  margin-top: 30px;
}


.editable-tag {
  border: 1px dashed #d9d9d9;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
