<div class="mini-width-limit" style="margin-top: 25px;margin-bottom: 15px">
  <div class="title">
    <a routerLink="/search" style="float: left">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
    </a>

    发布代码片段
  </div>

  <form nz-form>
    <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <nz-form-label [nzSpan]="3" nzFor="email" nzRequired style="text-align: left;">代码说明</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <input nz-input name="summary" id="summary" type="text">
      </nz-form-control>
    </nz-form-item >


    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <div nz-col nzMd="12">
        <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
          <nz-form-label [nzSpan]="6" nzFor="email" nzRequired style="text-align: left;">所属分类</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select nzAllowClear nzPlaceHolder="选择分类">
              <nz-option nzValue="jack" nzLabel="微信开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="ios开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="android开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="嵌入式开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="jquery插件"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item >
      </div>

      <div nz-col nzMd="12">
        <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
          <nz-form-label [nzSpan]="6" nzFor="email" nzRequired style="text-align: left">编程语言</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select nzAllowClear nzPlaceHolder="选择语言">
              <nz-option nzValue="jack" nzLabel="微信开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="ios开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="android开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="嵌入式开发"></nz-option>
              <nz-option nzValue="lucy" nzLabel="jquery插件"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item >
      </div>
    </div>


    <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <nz-form-label [nzSpan]="3" nzFor="" nzRequired style="text-align: left;">标签</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <app-editable-tag></app-editable-tag>
      </nz-form-control>
    </nz-form-item >


    <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <nz-form-label [nzSpan]="3" nzFor="email" nzRequired style="text-align: left;">代码公开</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <nz-switch nzCheckedChildren="已公开" nzUnCheckedChildren="未公开"></nz-switch>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <nz-form-control [nzSpan]="21" [nzOffset]="3">
        <textarea rows="10" nz-input></textarea>
      </nz-form-control>
    </nz-form-item >


    <nz-form-item [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <nz-form-control [nzOffset]="3">
        <button type="button" nz-button nzType="primary">发布</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
