<div class="mini-width-limit" style="margin-top: 25px;margin-bottom: 15px">
  <div class="title">
    <a routerLink="/search" style="float: left">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
    </a>
    发布代码片段
  </div>

  <form nz-form (ngSubmit)="submit()">
    <nz-form-item [nzGutter]="nzGutterConfig">
      <nz-form-label [nzSpan]="3" nzFor="summary" nzRequired style="text-align: left;">代码说明</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <input nz-input [(ngModel)]="data.summary" name="summary" id="summary" type="text">
      </nz-form-control>
    </nz-form-item >

    <div nz-row [nzGutter]="nzGutterConfig">
      <div nz-col nzMd="12">
        <nz-form-item [nzGutter]="nzGutterConfig">
          <nz-form-label [nzSpan]="6" nzRequired style="text-align: left;">所属分类</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <app-code-category [(ngModel)]="data.category" name="lang" ngDefaultControl></app-code-category>
          </nz-form-control>
        </nz-form-item >
      </div>

      <div nz-col nzMd="12">
        <nz-form-item [nzGutter]="nzGutterConfig">
          <nz-form-label [nzSpan]="6" nzRequired style="text-align: left">编程语言</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <app-code-lang [(ngModel)]="data.lang" name="lang" ngDefaultControl></app-code-lang>
          </nz-form-control>
        </nz-form-item >
      </div>
    </div>

    <nz-form-item [nzGutter]="nzGutterConfig">
      <nz-form-label [nzSpan]="3" nzRequired style="text-align: left;">标签</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <app-colorful-tags [(model)]="data.tags" [addAble]="true" name="tags" ngDefaultControl></app-colorful-tags>
      </nz-form-control>
    </nz-form-item >

    <nz-form-item [nzGutter]="nzGutterConfig">
      <nz-form-label [nzSpan]="3" nzFor="email" nzRequired style="text-align: left;">代码公开</nz-form-label>
      <nz-form-control [nzSpan]="21">
        <nz-switch
          [(ngModel)]="data.pubState"
          name="pubState"
          nzCheckedChildren="已公开"
          nzUnCheckedChildren="未公开">
        </nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item [nzGutter]="nzGutterConfig">
      <nz-form-control [nzSpan]="21" [nzOffset]="3">
        <app-code-editor [(model)]="data.codeText"></app-code-editor>
      </nz-form-control>
    </nz-form-item >

    <nz-form-item [nzGutter]="nzGutterConfig">
      <nz-form-control [nzOffset]="3">
        <button type="button" nz-button nzType="primary" (click)="submit()">发布</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
