/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/highlight.js/styles/darcula.css");


body {
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 14px;
}

.width-limit {
  margin: 0 auto;
  width: 1280px;
  max-width: 95%;
}

.mini-width-limit {
  margin: 0 auto;
  width: 920px;
  max-width: 95%;
}
