<a class="back" routerLink="/search" style="float: left;margin-left: 25px;font-size: 18px">
  <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
</a>

<div class="mini-width-limit">
  <div class="file">
    <nz-divider nzOrientation="right" nzText="孔夫子的妾 / city.json"></nz-divider>
    <div class="info">
      <p>简介：全国地级单位（市、州、盟、旗）数据</p>
      <p>标签：
        <nz-tag [nzColor]="'magenta'">地市数据</nz-tag>
        <nz-tag [nzColor]="'orange'">最新</nz-tag>
        <nz-tag [nzColor]="'gold'">json</nz-tag>
      </p>
      <p>大小：7.31M</p>
      <p>版本：1.0.0</p>
      <p>上传时间：2019/9/25 16:33</p>
      <p>下载次数：11次</p>
      <p>文件状态：公开</p>
    </div>

    <i class="file-entity" nz-icon nzType="download" nzTheme="outline"></i>
  </div>

</div>

<div class="mini-width-limit comments">
  <p style="margin: 50px 0 10px; border-bottom: 1px solid #ccc">评论区：</p>
  <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
        <nz-avatar nz-comment-avatar [nzText]="item.avatar"></nz-avatar>
        <nz-comment-content>
          <p>{{ item.content }}</p>
        </nz-comment-content>
      </nz-comment>
    </ng-template>
  </nz-list>
  <nz-comment>
    <nz-avatar nz-comment-avatar [nzText]="user.avatar"></nz-avatar>
    <nz-comment-content>
      <nz-form-item>
        <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
          评论
        </button>
      </nz-form-item>
    </nz-comment-content>
  </nz-comment>
</div>
